<div class="container-center-page">
    <div class="col">
        <div class="row">
            <h1 class="text-center">Welcome to Quality Assistance</h1>
            <br>
            <h3 class="text-center">Your personal assistant to automating manual QAs</h3>
            <br>
            <h4 class="text-center">Begin by choosing the QA type you wish to analyze...</h4>
            <br>
            <br>
        </div>
    </div>
</div>
