<div class="container-center-page">
    <div class="col">
        <div class="row">
            <h1 class="text-center">Before we begin...</h1>
            <% if current_page?(email_requirements_path) %>
                <h3 class="text-center">Please submit the title of the worksheet for this Email QA data:</h3>
            <% else %>
                <h3 class="text-center">Please submit the title of the worksheet for this Direct Mail QA data:</h3>
            <% end %>
            <br>
        <form>
          <div class="form-row">
            <div class="form-group col-md-4 col-md-offset-4">
                <input class="form-control" id="tab-title" placeholder="Enter programming grid tab title here">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Next</button>

          </div>


            <br>
            <br>

        </form>
        </div>
    </div>
</div>
